<div id="container">
<div id="content">
  <hr class="fornav">	
  
  <h2 class="landmark">Public Parks in Ozone Park</h2>
  
  <div class="landmarkblock parkblock">
    <h3>Centreville Playground</h3>
    <img src="ozoneparkimages/parks1.jpg" alt="reservior" width="350px" class="parkimg">
    <p>Top Review:"very clean" </p>
    <p>Phone: (212) 639-9675</p>
    <p><b>Address:</b><br>Centreville St<br> Ozone Park<br>Robinson Pkwy <br>NY 11417</p>
</div>

  <div class="landmarkblock parkblock">
    <h3>Vito Locascio Field</h3>
    <img src="ozoneparkimages/parks2.jpg" alt="hall" width="350px" class="parkimg">
    <p>Top Review: "great place for food and atmosphere"</p>
    <p>Phone: (212) 639-9675</p>
    <p><b>Address:</b><br>N Conduit Ave<br> Ozone Park<br>NY 11417</p>

</div>
  <div class="landmarkblock parkblock">
    <h3>Ampere Playground</h3>
    <img src="ozoneparkimages/parks3.jpg" alt="expwy" width="350px" class="parkimg">
    <p>Top Review: "nice clean environment to bring your kids and family"</p>
    <p>Phone: (212) 639-9675</p>
    <p><b>Address:</b><br>82nd St.<br>Ozone Park <br>NY 11416</p>	
</div>
  <div class="landmarkblock parkblock">
    <h3>Corporal Ruoff Square</h3>
    <img src="ozoneparkimages/park4.jpg" alt="hall" width="350px" class="parkimg">
    <p>Top Review: N/A </p>
    <p>Phone: (212) 639-9675</p>
    <p><b>Address:</b><br>94-11 Rockaway Blvd.<br>Ozone Park <br>NY 11417</p>

</div>
  <div class="landmarkblock parkblock">
    <h3>Tudor Park</h3>
    <img src="ozoneparkimages/park5.jpg" alt="expwy" width="350px" class="parkimg">
    <p>Top Review: "always clean, nice people"</p>
    <p>Phone: (212) 639-9675</p>
    <p><b>Address:</b><br>82nd St. & 133rd Ave<br>Ozone Park<br>NY 11417</p>	
</div>
  
  <table id="panel">
  <tr><td>
  <div id="navigatepage">
    
    <h2>Where To Find...</h2>
    <h3>Looking for something in particular?</h3>
    <p>Points of Interest:<br><a href="activities.html">Check our "Activities Page"</a><br>
    Houses Nearby:<br><a href="housing.html">Check our "Housing Page"</a><br>
    Landmarks:<br><a href="sightslandmarks.html">Check our "Landmarks"</a></p><br>
  </div></td></tr>

<tr><td>
  <div id="funfacttab">
    <h2>Fun Fact About Ozone Park!😀
    </h2><h3>Corporal Ruoff Square is named in honor of the first resident of Ozone Park to be killed in action during World War 1!</h3>
    
    
    </div>
  
  </td></tr>

    
</table>

  </div><!--content-->

</div><!--container-->

<div id="footer">
<p> Copyright © 2020 All Rights Reserved. Designed by Jeshuah Martin. ET-710 BT1 Sources: <a href="#">Click Here</a> </p>
</div><!--footer-->	